#header{
    height:55px;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    background-color:#292929;
    z-index:100;
    position:fixed;
    top:0;
    left:0;
    right:0;
    margin-bottom:50px;}
    
    .left-section{
        flex:1;
        width:150px;
        margin-right:70px;
        display:flex;
        align-items:center;
      }
          .logo{
         height:45px;
         width:45px;
      }
         .text{
        height:45px;
        vertical-align:middle;
      }
      .middle-section {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        position: relative;
      }
      .search-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;  
        height: 50px;
        background: white; 
        border-radius: 50%; 
        border: 3px solid #bfbfbf; 
        position: relative;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.2), 
                    0px 4px 14px rgba(0, 0, 0, 0.15);
        overflow: hidden;
      }
      .search-container.active .search-input {
        display: block;
      }
      .search-icon {
        position: absolute;
        right: 15px;
        width: 24px;  
        height: 24px;
        cursor: pointer;
        opacity: 0.8;
        transition: opacity 0.3s, transform 0.2s;
      }
      .search-icon:active {
        transform: scale(0.9);
      }
      .search-icon:hover {
        opacity: 1;
      }
      .clear-btn {
        position: absolute;
        right: 40px;
        font-size: 16px;
        cursor: pointer;
        color: black;
        display: none;
      }
      .search-container::before {
        content: "";
        position: absolute;
        top: -20px; 
        left: 8px; 
        width: 38px; 
        height: 22px;
        background: linear-gradient(45deg, #3dbd3d, #2d8f2d); 
        transform: rotate(-25deg);
      }
      .search-container::after {
        content: "";
        position: absolute;
        top: -22px;
        left: 26px;
        width: 6px;
        height: 20px;
        background: #5a3d2b;
        border-radius: 50%;
        transform: rotate(-10deg);
      }
      .search-container.active {
        width: 280px;
        border-radius: 35px;
      }
      .search-container.active .search-input {
        display: block;
    }
    .search-input {
      flex: 1;
      width: 100%;
      padding: 12px 40px 12px 15px;
      height: 100%;
      font-size: 16px;
      border: none;
      outline: none;
      display: none; 
      background: none;
      color: black;
    }
        
      .right-section{

        flex: 1;
        width:200px;
        display:flex;
        align-items:center;
        flex-shrink:0;}
        