.off-screen-menu {
  background-color: rgb(33, 28, 28);
  height: 50vh;
  width: 100%;
  max-width: 300px;
  position: fixed;
  top: 0;
  right: -300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 3rem;
  transition: .3s ease;
}