.product-preview {
    width: 90%;
    max-width: 200px;
    border-radius: 10px;
    border: none;
    box-shadow: 1px 5px 5px 3px grey;
    background-color: aliceblue;
    transition: transform 0.3s ease-in-out;
    }