.off-screen-menu {
  background-color: rgb(33, 28, 28);
  height: 50vh;
  width: 100%;
  max-width: 300px;
  position: fixed;
  top: 0;
  right: -300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 3rem;
  transition: .3s ease;
}
.off-screen-menu.active {
  right: 0;
}
ham-menu {
  height: 40px;
  width: 40px;
  margin-left: auto;
  cursor: pointer;
  object-fit: contain;
  position: absolute;
  right: 7px;
  top: 10px;
  bottom: 5px;
}