.product-preview {
    width: 90%;
    max-width: 200px;
    border-radius: 10px;
    border: none;
    box-shadow: 1px 5px 5px 3px grey;
    background-color: aliceblue;
    transition: transform 0.3s ease-in-out;
    }

.product-preview:hover {
    transform: translate(-15px);
    box-shadow: 0px 12px 8px 10px grey;
      }

.product-image-div {
        width: 100%;
        cursor: pointer;
      }
      
.product-image {
        width: 100%;
        height: 275px;
        object-fit: contain;
      }